
            /* Laptop start*/

@media screen and (max-width: 1024px){

    .logo-area {
        width: 280px;
        height: 47px;
        
    }

    li {
        
        font-size: 19px;
        padding-top: 19px;
      
    }

    .container.product-tag {
        padding-left: 33px;
        
    }
}
            /* Laptop end*/

            /* tablet start */
     
@media screen and (max-width: 768px){

    .logo-area {
        width: 196px;
        height: 35px;
    }

    li {
        font-size: 14px;
        padding-top: 15px;
    }

    .banner-txt h2 {
        font-size: 54px;
        padding-left: 15px;
    }

    .banner-txt h3 {
        font-size: 54px;
        padding-left: 15px;
    }

    .banner-area p {
        padding-left: 15px;
    }

    .banner-img {
        max-width: 400px;
       
    }

    .container.product-tag {
        padding-left: 15px;
    }

    .product-img {
        max-width: 200px;
        
    }

    .product-text {
        max-width: 200px;
    }

    .product-text h1 {
        font-size: 19px;
        font-weight: 600;
    }

    .product-text p {
        font-size: 14px;
        width: 100%;
    }

    .product-list-bottom h2 {
        font-size: 35px;
       
    }

    button {
        width: 96px;
        height: 39px;
       
    }

    .footer-logo-txt {
        max-width: 300px;
        padding-left: 15px;
    }

    .footer-txt-area h2 {
        font-size: 25px;
        line-height: 23px;
        
    }

    .footer-txt-area p {
        font-size: 12px;
        width: 100%;
    }

    .footer-image {
        max-width: 399px;
        max-height: 210px;
    }
}           

            /* tablet end */


            /* mobile start */
 @media screen and (max-width: 425px){
    
    .logo-area {
        width: 255px;
        height: 42px;
    }

    ul {
        display: none;
       
    }


    .banner-area {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .banner-txt {
        display: flex;
        flex-direction: column;
    }

    .banner-txt h2 {
        font-size: 89px;
        line-height: 83px;
        padding-left: 77px;
    }
    .banner-txt h3 {
        font-size: 89px;
        padding-left: 77px;
        line-height: 74px;
      
    }

    .banner-area p {
        padding-left: 77px;
        
    }

    .banner-img {
        max-width: 549px;
        text-align: center;
        padding-left: 25px;
        padding-top: 25px;
    }

    .container.product-area {
        display: flex;
        flex-direction: column;
        padding-left: 100px;
    }

    .container.product-area {
        max-width: 334px;
        max-height: 970px;
        gap: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container.footer-area {
       
        display: flex;
        flex-direction: column-reverse;
    }

    .footer-logo-txt {
        max-width: 292px;
        margin: 10px auto;
    }

    .footer-image {
        max-width: 599px;
        max-height: 354px;
        margin: 10px auto;
    }




 }



            /* mobile end */